/* index.html */
* {
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    background-color: #1F2937;
}

.header h1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

.links-container ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.links-container a {
    color: black;
    font-family: 'Roboto', serif;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 120px 150px;
    background-color: #1F2937;
    gap: 50px;
    margin-top: -5px;
}

.placeholder-image {
    width: 500px;
}

.placeholder-image img {
    width: 100%;
}

.section-one-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 12px;
}

.section-one-container h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.section-one-container p {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    padding: 5px 25px;
    color: #F9FAF8;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.section-two h2 {
    text-align: center;
    padding: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section-two .border {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 25px;
}

.section-two-info {
    padding: 40px 200px 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.imgdesc {
    text-align: center;
    width: 250px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-three {
    background-color: #E5E7EB;
    padding: 150px 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-three .quote {
    font-size: 36px;
    font-style: italic;
    font-family: 'Light Italic';
    color: #1F2937;
}

.section-three .author {
    align-self: flex-end;
    font-weight: 700;
    color: #1F2937;
}

.section-four {
    margin: 100px 150px;
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 10px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    color: #F9FAF8;
}

.button2 {
    border: 2px solid #F9FAF8;
    flex-shrink: 0;
}

.banner-text .banner-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
}

.banner-text .banner-sign-up {
    font-weight: 100;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-weight: 300;
    padding: 30px 0px;
}

.footer span {
    margin: 8px;
}




